@model List<RaremintShop.Module.Identity.Models.UsersListViewModel>


@{
    ViewBag.Title = "UsersList";
}

<h2 class="text-center">ユーザー一覧</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>メールアドレス</th>
            <th>ユーザー名</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
				<td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>