@{
    ViewBag.Title = "管理者用ページ";
}

<div class="container mt-5">
    <h1 class="text-center mb-5">管理者ダッシュボード</h1>

    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <a asp-controller="Admin" asp-action="UserManagement" class="btn btn-primary btn-block">
                    ユーザー管理ページ
                </a>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <a href="#" class="btn btn-primary">詳細を見る</a>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <a href="#" class="btn btn-primary">詳細を見る</a>
            </div>
        </div>
      
    </div>
</div>